<br>
<br>
<br>
<br>
<br>
<div class="container">
</div>
<div class="row center">
  <div>
    <form [formGroup]="mainSearchForm" id="searchForm">
      <input formControlName="city" id="searchField" name="city" type="text" placeholder="City" aria-label="Search">
      <button id="searchBtn" type="button" (click)="submitMainSearch()">Search</button>
    </form>
  </div>
</div>

<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<div class="row center">
  <div>
    <form [formGroup]="openWeatherForm" id="searchFormOwp">
      <input formControlName="city" id="searchFieldWidget" type="text" placeholder="Search by Open Weather"
             aria-label="Search">
      <button id="searchBtnWidget" type="button" (click)="submitOwm()">Search</button>
    </form>
    <form [formGroup]="weatherBitForm" id="searchFormWb">
      <input formControlName="city" id="searchFieldWidget" type="text" placeholder="Search by Weather Bit"
             aria-label="Search">
      <button id="searchBtnWidget" type="button" (click)="submitWb()">Search</button>
    </form>

    <form [formGroup]="apixuForm" id="searchFormApixu">
      <input formControlName="city" id="searchFieldWidget" type="text" placeholder="Search by Apixu"
             aria-label="Search">
      <button id="searchBtnWidget" type="button" (click)="submitApixu()">Search</button>
    </form>
  </div>
</div>

<div class="container-fluid">
  <br>
  <br>
  <br>
  <div class="row center">
    <div id="owpWidget" class="Weather row center column-center">
      <div class="Weather__main column column-center split-center">
        <h3 id="provider">Open Weather</h3>
        <h2 id="location">{{ owpWeather?.city}}</h2>
        <span id="location">lat: {{ owpWeather?.lat}}, lon: {{ owpWeather?.lon}}</span>
        <span id="temp">{{ owpWeather?.temp}}</span>
      </div>
      <div class="Weather__right column-split">
        <div class="Weather__right-icon">
          <div class="column column-center">
            <i id="icon" class="wi wi-day-sunny"></i>
          </div>
        </div>
        <div class="Weather__right-desc column center column-center">
          <span id="desc">{{ owpWeather?.description}}</span>
        </div>
        <i class="fa fa-refresh"></i>
        <div id="refresh" class="Weather__right-refresh column center column-center" (click)="submitOwm()">
          <span>Refresh</span>
        </div>
      </div>
    </div>

    <div id="wbWidget" class="Weather row righ">
      <div class="Weather__main column column-center split-center">
        <h3 id="provider">Weather Bit</h3>
        <h2 id="location">{{ weatherBitWeather?.city}}</h2>
        <span id="location">lat: {{ weatherBitWeather?.lat}}, lon: {{ weatherBitWeather?.lon}}</span>
        <span id="temp">{{ weatherBitWeather?.temp}}</span>
      </div>
      <div class="Weather__right column-split">
        <div class="Weather__right-icon">
          <div class="column column-center">
            <i id="icon" class="wi wi-day-sunny"></i>
          </div>
        </div>
        <div class="Weather__right-desc column center column-center">
          <span id="desc">{{ weatherBitWeather?.description }}</span>
        </div>
        <div id="refresh" class="Weather__right-refresh column center column-center">
          <span>Refresh</span>
        </div>
      </div>
    </div>

    <div id="apixuWidget" class="Weather row center">
      <div class="Weather__main column column-center split-center">
        <h3 id="provider">Apixu</h3>
        <h2 id="location">{{ apixuWeather?.city }}</h2>
        <span id="location">lat: {{ apixuWeather?.lat }}, lon: {{ apixuWeather?.lon }}</span>
        <span id="temp">{{ apixuWeather?.temp}}</span>
      </div>
      <div class="Weather__right column-split">
        <div class="Weather__right-icon">
          <div class="column column-center">
            <i id="icon" class="wi wi-day-sunny"></i>
          </div>
        </div>
        <div class="Weather__right-desc column center column-center">
          <span id="desc">{{ apixuWeather?.description }}</span>
        </div>
        <div id="refresh" class="Weather__right-refresh column center column-center">
          <span>Refresh</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

