<div *ngIf="isHasJoke" id="joke">
  <img height="150" width="200"
       src="https://media2.giphy.com/media/BIuuwHRNKs15C/200.webp?cid=790b7611ad7099317869e782054f87b01de3e0e90ec12e34&rid=200.webp"/>
  <div class="text">{{ joke?.value.joke}}</div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<div class="row center">
  <div>
    <form [formGroup]="mainSearchForm" id="searchForm">
      <input formControlName="city" id="searchField" name="city" type="text" placeholder="City" aria-label="Search">
      <button id="searchBtn" type="button" (click)="submitMainSearch()">Search</button>
    </form>
  </div>
</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<div class="row center">
  <div>
    <form [formGroup]="openWeatherForm" id="searchFormOwp">
      <input formControlName="city" id="searchFieldWidget" type="text" placeholder="Search by Open Weather"
             aria-label="Search">
      <button id="searchBtnWidget" type="button" (click)="submitOwm()">Search</button>
    </form>
    <form [formGroup]="weatherBitForm" id="searchFormWb">
      <input formControlName="city" id="searchFieldWidget" type="text" placeholder="Search by Weather Bit"
             aria-label="Search">
      <button id="searchBtnWidget" type="button" (click)="submitWb()">Search</button>
    </form>

    <form [formGroup]="apixuForm" id="searchFormApixu">
      <input formControlName="city" id="searchFieldWidget" type="text" placeholder="Search by Apixu"
             aria-label="Search">
      <button id="searchBtnWidget" type="button" (click)="submitApixu()">Search</button>
    </form>
  </div>
</div>

<div class="container-fluid">
  <br>
  <br>
  <br>
  <div class="row center">
    <div id="owmWidget" class="Weather row center column-center">
      <div class="Weather__main column column-center split-center">
        <h3 id="provider">Open Weather</h3>
        <h2 id="location" data-id="city">{{ owmWeather?.city}}</h2>
        <span id="location" data-id="coord">lat: {{ owmWeather?.lat}}, lon: {{ owmWeather?.lon}}</span>
        <span id="temp">{{ owmWeather?.temp | number: '.1-2'}}</span>
      </div>
      <div class="Weather__right column-split">
        <div class="Weather__right-icon">
          <div class="column column-center">
            <i id="icon" class="wi wi-day-sunny"></i>
          </div>
        </div>
        <div class="Weather__right-desc column center column-center">
          <span id="desc">{{ owmWeather?.description}}</span>
        </div>
        <i class="fa fa-refresh"></i>
        <div id="refresh" class="Weather__right-refresh column center column-center" (click)="submitOwm()">
          <span>Refresh</span>
        </div>
      </div>
    </div>

    <div id="wbWidget" class="Weather row righ">
      <div class="Weather__main column column-center split-center">
        <h3 id="provider">Weather Bit</h3>
        <h2 id="location" data-id="city">{{ weatherBitWeather?.city}}</h2>
        <span id="location" data-id="coord">lat: {{ weatherBitWeather?.lat}}, lon: {{ weatherBitWeather?.lon}}</span>
        <span id="temp">{{ weatherBitWeather?.temp | number: '.1-2'}}</span>
      </div>
      <div class="Weather__right column-split">
        <div class="Weather__right-icon">
          <div class="column column-center">
            <i id="icon" class="wi wi-day-sunny"></i>
          </div>
        </div>
        <div class="Weather__right-desc column center column-center">
          <span id="desc">{{ weatherBitWeather?.description }}</span>
        </div>
        <div id="refresh" class="Weather__right-refresh column center column-center">
          <span>Refresh</span>
        </div>
      </div>
    </div>

    <div id="apixuWidget" class="Weather row center">
      <div class="Weather__main column column-center split-center">
        <h3 id="provider">Weather Stack</h3>
        <h2 id="location" data-id="city">{{ wsWeather?.city }}</h2>
        <span id="location" data-id="coord">lat: {{ wsWeather?.lat }}, lon: {{ wsWeather?.lon }}</span>
        <span id="temp">{{ wsWeather?.temp | number: '.1-2'}}</span>
      </div>
      <div class="Weather__right column-split">
        <div class="Weather__right-icon">
          <div class="column column-center">
            <i id="icon" class="wi wi-day-sunny"></i>
          </div>
        </div>
        <div class="Weather__right-desc column center column-center">
          <span id="desc">{{ wsWeather?.description }}</span>
        </div>
        <div id="refresh" class="Weather__right-refresh column center column-center">
          <span>Refresh</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
